:root{
    --grid-percentage: 6.25%;
}

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;  
    justify-content: center;
}

.containerHeaven{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
}

.bockes{
    flex: 1 0 var(--grid-percentage);
    aspect-ratio: 1/1;
    outline: 1px solid black;
}